<div class="invoice-entry-container">

  <ul>

    <li>
      <span class="badge">invoice product name </span>
      <span id="invoiceProductNameReadOnly">
        {{invoiceEntry.productName}}
      </span>
    </li>

    <li>
      <span class="badge">invoiceEntry.quantity </span>
      <span id="invoiceEntryQuantityReadOnly">
        {{invoiceEntry.quantity}}
      </span>
    </li>

    <li>
      <span class="badge">invoice entry unit </span>
      <span id="invoiceEntryUnitReadOnly">
        {{invoiceEntry.unit}}
      </span>
    </li>

    <li>
      <span class="badge">invoice entry price </span>
      <span id="invoiceEntryPriceReadOnly">
        {{invoiceEntry.price}}
      </span>
    </li>

    <li>
      <span class="badge">invoice entry netValue </span>
      <span id="invoiceEntryNetValueReadOnly">
        {{invoiceEntry.netValue}}
      </span>
    </li>

    <li>
      <span class="badge">invoice entry gross value</span>
      <span id="invoiceEntryGrossValueReadOnly">
        {{invoiceEntry.grossValue}}
      </span>
    </li>

    <li>
      <span class="badge">invoice entry Vat rate</span>
      <span id="invoiceEntryVatRateReadOnly">
        {{invoiceEntry.vatRate}}
      </span>
    </li>

  </ul>
</div>
