<div>

  <ul>

    <li>
      <span class="badge">{{party}} name </span>
      <span id="companyNameReadOnly">
        {{company.name}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} address </span>
      <span id="companyAddressReadOnly">
        {{company.address}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} taxId </span>
      <span id="companyTaxIdReadOnly">
        {{company.taxId}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} account number </span>
      <span id="companyAccountNumberReadOnly">
        {{company.accountNumber}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} phone number </span>
      <span id="companyPhoneNumberReadOnly">
        {{company.phoneNumber}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} email </span>
      <span id="companyEmailReadOnly">
        {{company.email}}
      </span>
    </li>

  </ul>
</div>
