<div class="jumbotron col-lg-4">

  <ul>

    <li>
      <span class="badge">{{party}} name </span>
      <span id="companyNameReadOnly"
            class="col-lg-4 offset-1">
        {{company.name}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} address </span>
      <span id="companyAddressReadOnly"
            class="col-lg-4 offset-1">
        {{company.address}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} taxId </span>
      <span id="companyTaxIdReadOnly"
            class="col-lg-4 offset-1">
        {{company.taxId}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} account number </span>
      <span id="companyAccountNumberReadOnly"
            class="col-lg-4 offset-1">
        {{company.accountNumber}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} phone number </span>
      <span id="companyPhoneNumberReadOnly"
            class="col-lg-4 offset-1">
        {{company.phoneNumber}}
      </span>
    </li>

    <li>
      <span class="badge">{{party}} email </span>
      <span id="companyEmailReadOnly"
            class="col-lg-4 offset-1">
        {{company.email}}
      </span>
    </li>

  </ul>
</div>
